@import '../../scss/modules/variables';

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../../assets/fonts/Roboto-Light.ttf');
}

/* <MIXINS> */

@mixin banner-bussines-styles {
  height: 15rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin icon-picture-position(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

/* <MIXINS/> */

.upload-picture-icon {
  justify-content: center;
  color: white;
  font-size: 18px;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  @include icon-picture-position(null, 1em, 3em, null);
}

.upload-picture-icon:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.card-business-preview {
  font-family: Roboto;
  border-radius: 10px;
  background: white;
  position: relative;
  margin-bottom: 1rem;

  .banner-bussines {
    @include banner-bussines-styles;

    .banner-bussines-image {
      width: 100%;
      height: 100%;
    }
  }

  .banner-bussines-default {
    @include banner-bussines-styles;
    background-color: rgb(235, 87, 87);
  }

  .business-name-container {
    display: flex;
    position: absolute;
    left: 1em;
    bottom: 1em;

    .thumbnail {
      z-index: 1;
      position: relative;
      height: 130px;
      width: 130px;
      border-radius: 10px;
      background-color: rgb(243, 154, 74);
      border: none;
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.3);

      .img-thumbnail {
        padding: 0;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        border: inherit;
      }

      & > .upload-picture-icon {
        bottom: 0.5rem;
        right: 0.5rem;
      }
    }

    .business-name-text {
      margin-left: 1em;
      margin-top: 2em;
    }
  }

  .navbar-business {
    font-size: 14px;
    justify-content: flex-end;

    .icon-item-shadow {
      display: flex;
      align-items: center;
      margin: 0 0.1em;

      .icon-link-shadow {
        display: inline-block;
        padding: 0.3em 0.5em;
        border-radius: 35px;
        color: white;
        background-color: $main-color;
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.4);
      }
    }

    .navbar-nav-2 {
      display: none;
    }
  }

  .float-services {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 5rem;
    position: absolute;
    right: 5rem;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 3px 5px 3px rgba(0, 0, 0, 0.125);

    .services-icon {
      color: $main-color;
    }
  }
}

.add-product-card {
  width: 9em;

  .add-product-button {
    color: white;
    display: block;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
}
