@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../../assets/fonts/Roboto-Light.ttf');
}

/* <MIXINS> */

@mixin banner-bussines-styles {
  height: 15rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}

@mixin icon-picture-position(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

/* <MIXINS/> */

.upload-picture-icon {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 18px;
  padding: 0.2em 0.5em;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  @include icon-picture-position(null, 1em, 3em, null);
}

.upload-picture-icon:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.card-business-preview {
  font-family: Roboto;
  border-radius: 10px;
  background: white;
  position: relative;

  .banner-bussines {
    @include banner-bussines-styles;

    .banner-bussines-image {
      width: 100%;
      height: 100%;
    }
  }

  .banner-bussines-default {
    @include banner-bussines-styles;
    background-color: rgb(235, 87, 87);
  }

  .business-name-container {
    position: absolute;
    bottom: 1em;

    .thumbnail {
      z-index: 1;
      position: relative;
      height: 130px;
      width: 130px;
      border-radius: 10px;
      background-color: rgb(243, 154, 74);
      border: none;
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.3);

      .img-thumbnail {
        padding: 0;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        border: inherit;
      }

      & > .upload-picture-icon {
        bottom: 0.5rem;
        right: 0.5rem;
      }
    }
  }

  .navbar-business-preview {
    font-size: 14px;
    justify-content: flex-end;

    .icon-item-shadow {
      display: flex;
      align-items: center;
      margin: 0 0.1em;

      .icon-link-shadow {
        padding: 0.2em 0.4em;
        border-radius: 45%;
        background-color: rgb(196, 196, 196);
      }
    }
  }
}

.description-section {
  border-radius: 10px;
  background: rgb(242, 242, 242);

  .skeleton-description-line {
    height: 0.7em;
    width: 60%;
    background-color: rgb(195, 195, 195);
    margin: 0.7em 0;
    border-radius: 10px;
  }
}

.main-section {
  font-size: 15px;
}

.announcement-section {
  border-radius: 10px;
  background-color: rgb(196, 196, 196);

  .announcement-input {
    padding: 0;
    border: none;
    width: 70%;
    height: 2em;
    border-radius: 10px;
  }

  .horizontal-divider {
    height: 1px;
    background: white;
    width: 100%;
    border-radius: 10px;
  }

  .icons-container {
    display: flex;
    color: black;

    .icon-announcement {
      color: white;
    }
  }
}
