.color-container {
  background: #00083c;
}

.color-fila {
  background-color: white;
}

.tam-text a {
  font-family: Arial;
  color: gray;
  text-decoration: none;
}

.information-icon {
  color: rgb(255, 184, 51);
}
