.row {
  display: flex;
  justify-content: space-around;
}

@media (max-width: $phone-size) {
  .col-sm-2 {
    width: 50%;
  }
}

@mixin apply-display-to-component($component) {
  @media (max-width: $tablet-size) {
    .#{$component}-products {
      .row {
        display: flex;
        justify-content: start;
      }
    }
  }
}
