@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$xs: 0 !default;
$sm: 576px !default;
$lg: 768px !default;
$md: 992px !default;
$xl: 1200px !default;

$tablet-size: 1024px !default;
$phone-size: $sm !default;
