.sub-nav-bar {
  font-weight: bold;
  background-color: rgb(255, 120, 1);
}

.navbar3-item:hover {
  background-color: rgb(245, 110, 0);
  transition: all 300ms ease-in-out;
}

.icon-currency {
  font-size: 15px;
}
