.wrapper {
  max-height: 40;
  display: flex;
  overflow-x: auto;
  background: #ffa200;
  padding-left: 40px;
}

.wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.wrapper .item {
  min-width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #ffa200;
  margin-right: 0px;
  margin-left: 0px auto;
}
.item a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: sans-serif;
}

.item:hover {
  background: #e99300;
}

.divider-line {
  background: white;
  height: 30px;
  width: 1px;
  margin-top: 5px;
  margin-right: 2px;
  margin-left: 2px;
}
