
.categories {
  font-family: 'OpenSans';
  font-size: 13px;
}

.categories li {
  list-style: none;
  font-weight: lighter;
}

.categories > .item-categories > .link-categories {
  display: block;
  width: 100%;
  padding: .2rem 0;
  color: black;
}

.categories > .item-categories > .link-categories:hover {
  color: rgb(227, 45, 4);
  box-shadow: inset 1px 1px 0 rgb(206, 206, 206),
              inset 1px -1px 0 rgb(206, 206, 206);
}
