@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  src: local('Roboto'), url('../../assets/fonts/Roboto-Light.ttf');
}

.card-business-preview {
  font-family: Roboto;
  border-radius: 10px;
  background: white;

  .banner-business-preview {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }

  .business-name-container {
    position: absolute;
    bottom: 1em;

    .img-thumbnail {
      height: 130px;
      width: 130px;
      border-radius: 10px;
      box-shadow: 0 5px 6px -2px rgba(0, 0, 0, 0.3);
    }
  }
}

.navbar-business-preview {
  font-size: 14px;
  justify-content: flex-end;

  .icon-item-shadow {
    display: flex;
    align-items: center;
    margin: 0 0.1em;

    .icon-link-shadow {
      padding: 0.2em 0.4em;
      border-radius: 45%;
      background-color: rgb(196, 196, 196);
    }
  }
}

.description-section {
  border-radius: 10px;
  background: rgb(242, 242, 242);

  .skeleton-description-line {
    height: 0.7em;
    width: 60%;
    background-color: rgb(195, 195, 195);
    margin: 0.7em 0;
    border-radius: 10px;
  }
}

.announcement-section {
  border-radius: 10px;
  background-color: rgb(196, 196, 196);

  .announcement-input {
    padding: 0;
    border: none;
    width: 70%;
    height: 2em;
    border-radius: 10px;
  }

  .horizontal-divider {
    height: 1px;
    background: white;
    width: 100%;
    border-radius: 10px;
  }

  .icons-container {
    display: flex;
    color: black;
  }

  .icon-announcement {
    color: white;
  }
}
