.card {
  padding: 1em;
}

.card-header {
  border: none;
  padding: 0;
  background-color: rgb(224, 224, 224);
}

.row {
  flex-wrap: nowrap;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgb(46, 46, 46);
}

.card-header {
  position: relative;
}
