.products {
  border-radius: 10px;
  background-color: rgb(242, 242, 242);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.thumbnail-products {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: rgb(196, 196, 196);
  border: none;
}