@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.image-logo {
  width: 150px;
}

.navbar-toggler {
  border: none;
}

.responsive-navbar {
  display: flex;
  list-style: none;
  border: none;
  justify-content: space-around;
  align-items: center;
}

.responsive-navbar .responsive-navbar-item {
  margin-left: 0.5rem;
}

@media (min-width: map-get($grid-breakpoints, 'md')) {
  .responsive-navbar .responsive-navbar-item {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: map-get($grid-breakpoints, 'sm')) {
  .image-logo {
    width: 110px;
  }
}

.icon {
  margin-right: 5px;
  color: rgb(94, 94, 94);
}

.input-main-search {
  border-right: none;
}

.icon-main-search {
  color: white;
}

.search-text-group {
  border: none;
  background: rgb(255, 120, 1);
}
.search-text-group:hover {
  background: rgb(255, 147, 52);
}

.form-control-main-search {
  border-radius: 10px;
}

.margin {
  margin-right: 40px;
}
