@import '../../scss/modules/variables';

.image-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.message-box-open {
  position: absolute;

  top: -17rem;
  height: 20rem;
  right: -2px;
  width: 100%;

  .header-message-box {
    display: flex;
    align-items: center;
    padding: 0.38em;
  }

  .icon-message-box {
    padding: 0 0.125rem;
  }

  .footer-message-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon-footer {
      padding: 0.125rem;
      color: $main-color;
    }

    .text-input-footer {
      border: 1px solid rgba(#000, 0.125rem);
      border-radius: 35px;
      outline: none;
      padding: 0 0.3rem;
      font-size: 15px;
    }
  }
}
