.main-navbar {
  font-size: 13px;
  font-family: OpenSans;
  padding: 8px 16px 0px 16px;
  display: block;
  background-color: rgb(243, 243, 243);
  z-index: 1;
}

.img-logo {
  width: 200px;
}

.input-main-search {
  border-right: none;
}

.icon-main-search {
  color: white;
}

.search-text-group {
  border: none;
  background: rgb(255, 120, 1);
}

.form-control-main-search {
  border-radius: 10px;
}

.item, .icon-item, .icon-link-navbar {
  color: rgb(102, 102, 102);
}

.icon-link-navbar:hover {
  color: rgb(158, 158, 158);
  text-decoration: none;
}

.item {
  display: flex;
  margin: 0 1.4em;
}

.language-dropdown {
  cursor: pointer;
}

.language-icon {
  width: 2em;
}

.badge-shopping-cart {
  background-color: rgb(255, 120, 1);
  color: white;
  position: absolute;
  top: -40%;
  left: 100%;
}

.sub-nav-bar {
  font-weight: bold;
  background-color: rgb(255, 120, 1);
  margin: 0 -16px;
}

.divider-sub-navbar {
  height: 80%;
}
