@font-face {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'),
    url('../assets/fonts/OpenSans-Light.ttf'),
    url('../assets/fonts/opensans-light-webfont.woff'),
    url('../assets/fonts/opensans-light-webfont.woff2');
}

.link:hover {
  text-decoration: none;
}

.divider {
  width: 1px;
  background: rgb(202, 202, 202);
}

.nav-bar-link {
  font-size: 12px;
  color: white;
  padding: 1em 2em;
}

.nav-bar-link:hover {
  text-decoration: none;
  color: white;
}


