.link:hover {
  text-decoration: none;
}

.divider {
  width: 1px;
  background: rgb(202, 202, 202);
}

.nav-bar-link {
  font-size: 12px;
  color: white;
  padding: 1em 2em;
}

.nav-bar-link:hover {
  text-decoration: none;
  color: white;
}