.color {
  background: #00083c;
}

.tam {
  width: 100%;
}

.color-letra ul li a {
  color: white;
}

.color-letra h5 {
  color: white;
}
.espacio {
  padding: 15px;
}

.final-color span {
  color: white;
}
.link:hover {
  color: #9e9e9e;
  text-decoration: none;
}
.link-icon:hover {
  color: #ffa600;
  text-decoration: none;
}
.color {
  background: #00083c;
}
.tam-icon {
  margin-right: 10px;
  font-size: 20px;
}

.texto-color {
  color: white;
}

.footerbajo {
  background: white;
}
.dimen {
  width: 130px;
}

.ancho {
  width: 100%;
}
