@import '../../scss/modules/variables';

.bottom-navbar {
  position: fixed;
  width: 85%;
  bottom: 0;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(black, 0.125);

  .search-input-navbar-bottom,
  .users-container,
  .message-box {
    box-shadow: inset 2px 0 rgba(#000, 0.125);
  }

  .search-input-section {
    background: white;
  }

  .search-input-navbar-bottom {
    display: flex;
    align-items: center;
    height: 100%;

    .input-form-control {
      height: 100%;
    }
  }

  .users-section {
    background-color: white;

    .users-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .user-thumbnail {
      margin: 0 0.5em;
    }

    .thumbnail-image {
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }

  .message-box {
    background-color: white;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;

    .icon-message-box {
      color: $main-color;
    }
  }
}
