.card-post {
  color: white;
  padding: .25em;
  border-radius: 10px;
  background: rgb(196, 196, 196);
  border: none;
}

.card-header-post, .card-footer-post, .card-body-post {
  background-color: transparent;
  border: none;
}