.link:hover {
  text-decoration: none;
}

.sub-navbar {
  display: block;
  background: rgb(5, 24, 67);
}

.create-store-button {
  display: inline-block;
  color: white;
  background: rgb(52, 135, 255);
  border-radius: 35px;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.create-store-button:hover {
  color: white;
  text-decoration: none;
}
