.create-store-form {
  box-shadow: 0 0 .3rem 0 rgb(185, 185, 185);
}

.body-form, .footer-form {
  font-size: 11px;
}

.body-form {
  height: 340px;
  overflow-y: scroll;
}

.body-form::-webkit-scrollbar {
  width: 7px;
}
 
.body-form::-webkit-scrollbar-track {
  background-color: rgb(218, 216, 216);
  border-radius: 5px;
}
 
.body-form::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  
}

.footer-form {
  
  color: rgb(156, 156, 156);
}

