.create-store-form {
  box-shadow: 0 0 0.3rem 0 rgb(185, 185, 185);
}

.body-form,
.footer-form {
  font-size: 11px;
}

.body-form {
  height: 340px;
  overflow-y: scroll;
}

.footer-form {
  color: rgb(156, 156, 156);
}
