.modal-dialog {
  top: 4em;
  padding: 0 4em;
}

.modal-content {
  border-radius: 15px;
}

.modal-body,
.modal-header {
  padding-left: 3em;
  padding-right: 3em;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

.form-control-modal.form-control {
  border-radius: 15px;
  font-size: 13px;
}

.submit-button.btn {
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 15px;
}
